.john{
    width:40% ;
    height: 50%;
    position: absolute;
    right: 5%;
 }

 .jd {
    width:40% ;
    height: 50%;
    position: absolute;
    left: 2%;
 }
 .logojohn{
    width: 30%;
 }
 


    .SJ{
        background-color: green;
        height: 1000px;
     
     }
     .TJ{
        background-color: white;
        
     }
     .TJ2{
        background-color: white;
     }
