
.cabeçalho{
   display: flex;
   justify-content:space-between;
   background-color: #95f5d0

}
.img{
   width: 25%;
justify-content: right;
}
.imgs{
   width: 20%;
   position: absolute;
   top: 15 ;
   left: 15;
}


.mf{
   width: 30%;
}

.deer {
   width: 30%;
}

.brabo{
      grid-template-columns: auto;
   }
  
   .blz{
      background-color: rgb(143, 229, 229);
     }
  
     .Marcas{
      position: absolute;
      left: 78%;
      margin-top: -18%;
   }
  
   .C{
      position: absolute;
      left: 79%;
      margin-top: -16%;
      background-color: rgb(231, 25, 25);
   }
 
   .N{
      position: absolute;
      left: 76%;
      margin-top: -12%;
      background-color: dodgerblue

   }
  
   .J{
      position: absolute;
      left: 77%;
      margin-top: -8%;
      background-color: rgb(56, 235, 56);

   }
  
   .V{
      position: absolute;
      left: 78%;
      margin-top: -4%;
      background-color:yellow
   }
