.SC{
    background-color: black;
    height: 1000px;
    

    }
    .case{
        width: 42%;
        position: absolute;
        left: 2%;
     }
     .cas{
        width:30% ;
     }
     .Q{
        width: 40%;
     position: absolute;
     right: 2%;
     height: 53%;
       }

    .TC{
      background-color: white;
      width: 30%;
    }
    .TC2{
      background-color: white;
      width: 60%;
   
    }