.john{
    width:30% ;
 }
 .deer {
    width: 30%;
 
 }
 .jd {
    width:30% ;
 }
 .logojohn{
    width: 30%;
 }
 
 .J{
    position: absolute;
    left: 77%;
    margin-top: -8%;
    background-color: rgb(56, 235, 56);
    

    }
    .SJ{
        background-color: green;
        height: 1000px;
     
     }
     .TJ{
        background-color: white;
        
     }
     .TJ2{
        background-color: white;
     }