.cabeçalho{
   background-color: #95f5d0
}
.img{
   width: 30%;
}
.imgs{
   width: 40%;
}
.case{
   width: 70%;
}
.t7{
   width: 30%;
}
.mf{
   width: 30%;
}
.john{
   width:30% ;
}
.valtra{
   width:30% ;
}
.valt{
   width:30% ;
}
.newt7{
   width: ;
} 
.deer {
   width: 30%;
}
.jd {
   width:30% ;
}
.cas{
   width:30% ;
}
.holl{
   width:30% ;
}
.casee {
   width:30% ;
}
.t4{
   width: 30%;
}
.logojohn{
   width: 30%;
}
.valtra.svg{
   width:30% ;
}
.New-Holland-Logo.jpg{
   width:10%;
}